h1
	{
	color:#404040;
	font-size:48px;
	text-align:center;
        font-family: 'Oswald', sans-serif;
        }
	
	h2
	{
	color:#404040;
	font-size:32px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
     
        }

body
	{ 
	background-color:#F0F0F0;
	}

img
	{
	float: left;
	}

/* unvisited link */
a:link {
    color: #90a28c;
}

/* visited link */
a:visited {
    color: #10FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}


      
  