body
{
	background-color:#99CCFF;
	color:#191970;
	text-align:center;
	font-family:Arial, Calibri,sans serif;
}


h1
{
	color:#404040;
	font-size:48px;
	text-align:center;
        font-family: 'Oswald', sans-serif;
}